/* Styles Company */

  
/* Container ----- */
.body-company {
    display: grid;
    grid-column: conteudo;
    grid-row: body;
    grid-template-rows: [line1] 1fr [line2] 1fr [line3] 1fr [line4] 1fr;
    height: 100vh;
  }

/* Container ----- */
.company-overview {
    display: grid;
    grid-row: line1;
    grid-template-columns: [main] 6fr [icons] 1fr;
}

.company-overview-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: main;
    align-items: center;
}

#company-overview-button {
    width: 218.96px;
    height: 55.1px;
    background: radial-gradient(375% 375% at -66.67% 29.17%, #01325B 0%, #302E50 21.3%, #ED1C24 57.86%, #004B7F 100%);
    box-shadow: 5px 5px 15px rgba(16, 35, 54, 0.27);
    border-radius: 8px;
}

.company-overview-icons {
    display: grid;
    grid-column: icons;
    justify-items: flex-end;
    justify-items: left;
}

.company-overview-icons h1 {
    font-size: 0.7em;
}


.company-overview-icons-list {
    display: flex;
    flex-direction: row;
} 


#mkt {
    display: flex;
    height: 50px;
    width: 50px;
    background: linear-gradient(86.53deg, #72C6EF -0.02%, #004E8F 100.02%);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    
}

#fn {
    display: flex;
    height: 50px;
    width: 50px;
    background: linear-gradient(90deg, #E4197E -0.19%, #802BFF 100.04%);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

#hr {
    display: flex;
    height: 50px;
    width: 50px;
    background: linear-gradient(90deg, #6E99FE -0.14%, #00FFFF 99.94%);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

#plus {
  display: flex;
  height: 50px;
  width: 50px;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  border: 2px solid #9CC6FF;
  border-radius: 10px;
}

#plus::before {
    display: block;
    content: '+';
}

/* Container ----- */
.options {
    display: grid;
    grid-row: line2;
    grid-template-columns: [marketing] 1fr [finance] 1fr [human] 1fr;
    gap: 15px;
}

.options-box {
    background: linear-gradient(161.21deg, #19222F -28.9%, #002544 108.17%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
}

.options-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options-top h2 {
    padding-left: 15px;
    font-size: 0.8em;
    color: #FC3A5E;
}

.options-middle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 100px;
}

.text-options {
    padding: 10px;
}

.text-options h2 {
    font-size: 0.8em;
}

.text-options h3 {
    font-size: 0.7em;
}

.button-location {
    justify-self: right;
}

.button {
    width: 12em;
    height: 45px;
    background: linear-gradient(76.46deg, #72C6EF -0.02%, #004E8F 100.02%);
    box-shadow: 5px 5px 15px rgba(16, 35, 54, 0.27);
    border-radius: 8px;
    font-size: 0.8em;
}  

/* --- */
.marketing {
    display: grid;
    grid-column: marketing;
}

/* --- */
.finance {
    display: grid;
    grid-column: finance;
    background: linear-gradient(161.21deg, #19222F -28.9%, #002544 108.17%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
}


.finance h3 {
    font-size: 0.7em;
}

#date-finance strong {
    color: #2AF598;
}

/* --- */
.human-resorces {
    display: grid;
    grid-column: human;
}

.human-resorces h3 {
    font-size: 0.7em;
}

/* ------ Container */
.tops {
    display: grid;
    grid-row: line3;
    grid-template-columns: [top1] 1fr [top2] 1fr [top3] 1fr;
}

.tops img {
    width: 10%;
}

.top-box {
    position: relative;
    background: linear-gradient(168.4deg, rgba(156, 198, 255, 0.084) -28.9%, rgba(0, 37, 68, 0.3) 108.17%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    margin: -70px 50% 100px 5%;
    padding: 10px;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.main-title h3 {
    font-size: .5em;
}

/* --- */
.top-marketing {
    display: grid;
    grid-column: top1;
}

/* --- */
.top-finance {
    display: grid;
    grid-column: top2;
}

/* --- */
.top-human-resorces {
    display: grid;
    grid-column: top3;
}

/* ------ Container */

.details {
    display: grid;
    grid-row: line4;
    grid-template-columns: [stress-details] 1fr [activity-details] 1fr [sleep-details] 1fr [meditation-details] 1fr;
    gap: 15px;
}

.details-box {
    background: linear-gradient(145.47deg, #19222F -28.9%, #002544 108.17%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
}


/* --- */
.stress-details {
    display: grid;
    grid-column: stress-details;
    grid-template-rows: repeat(4, 1fr);
}

.details h2 {
    font-size: 0.6em;
    letter-spacing: 0.08em;
    color: #D6DEE1;
    opacity: 0.4;
}

.details h3 {
    font-size: 0.5em;
    color: #D6DEE1;
}

#itens-orange {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#circle-orange {
    width: 20px;
    height: 20px;
    background: linear-gradient(221.02deg, #FECE3D 0%, #FC3A5E 100%);
    border-radius: 50px;   
}

#bar-orange {
    width: 115.38px;
    height: 7px;
    background: linear-gradient(183.02deg, #FECE3D 0%, #FC3A5E 100%);
    border-radius: 12px; 
}

#itens-purple {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#circle-purple {
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, #E4197E -0.19%, #802BFF 100.04%);
    border-radius: 50px;   
}

#bar-purple {
    width: 115.38px;
    height: 7px;
    background: linear-gradient(90deg, #E4197E -0.19%, #802BFF 100.04%);
    border-radius: 12px; 
}

#itens-blue {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#circle-blue {
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, #6E99FE -0.14%, #00FFFF 99.94%);
    border-radius: 50px;   
}

#bar-blue {
    width: 115.38px;
    height: 7px;
    background: linear-gradient(90deg, #6E99FE -0.14%, #00FFFF 99.94%);
    border-radius: 12px; 
}

/* --- */
.activity-details {
    display: grid;
    grid-column: activity-details;
    grid-template-rows: repeat(3, 1fr);
    background: linear-gradient(145.47deg, #19222F -28.9%, #002544 108.17%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
}

/* --- */
.sleep-details {
    display: grid;
    grid-column: sleep-details;
    grid-template-rows: 1fr 3fr;
}

.sleep-details img {
    max-width: 15%;
    align-self: center;
    justify-self: center;
}

/* --- */
.meditation-details {
    display: grid;
    grid-column: meditation-details;
    grid-template-rows: repeat(4, 1fr);
}


.meditation-details h1 {
    font-size: 0.8em;
}

.meditation-details h2 {
    font-size: 0.6em;
}

.itens-meditation-1 {
    display: flex;
    box-flex-group: row;
    align-items: center;
    justify-content: space-evenly;
}

#green-square {
    width: 15px;
    height: 15px;
    background: linear-gradient(180deg, #2AF598 -0.11%, #08AEEA 100%); 
}

#blue-icon {
    width: 30px;
    height: 30px;
    background: linear-gradient(86.53deg, #72C6EF -0.02%, #004E8F 100.02%);
    border-radius: 8px;
}

#rose-icon {
    width: 30px;
    height: 30px;
    background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
    border-radius: 8px;
}

.itens-meditation-2 {
    display: flex;
    box-flex-group: row;
    align-items: center;
    justify-content: space-evenly;
}

#orange-square {
    width: 15px;
    height: 15px;
    background: linear-gradient(221.02deg, #FECE3D 0%, #FC3A5E 100%);
}

#orange-icon {
    width: 30px;
    height: 30px;
    background: linear-gradient(221.02deg, #FECE3D 0%, #FC3A5E 100%);
border-radius: 8px;
    border-radius: 8px;
}

#red-icon {
    width: 30px;
    height: 30px;
    background: radial-gradient(375% 375% at -66.67% 29.17%, #01325B 0%, #302E50 21.3%, #ED1C24 57.86%, #004B7F 100%);
    border-radius: 8px;
}

.itens-meditation-3 {
    display: flex;
    box-flex-group: row;
    align-items: center;
    justify-content: space-evenly;
}

#purple-square {
    width: 15px;
    height: 15px;
    background: linear-gradient(90deg, #E4197E -0.19%, #802BFF 100.04%);
}

#purple-icon {
    width: 30px;
    height: 30px;
    background: linear-gradient(90deg, #E4197E -0.19%, #802BFF 100.04%);
    border-radius: 8px;
}

#green-icon {
    width: 30px;
    height: 30px;
    background: linear-gradient(180deg, #2AF598 -0.11%, #08AEEA 100%);
    border-radius: 8px;
}