/* Styles Profile */


/* Container ----- */
.body-profile {
    display: grid;
    grid-column: conteudo;
    grid-row: body;
    gap: 15px;
    grid-template-columns: [user] 1fr [team] 1.7fr;
    height: 100vh;
  }


  .body-profile ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
  }
  
  ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #ecf0f1;
    padding: 4px 0;
    transition: 0.5s;
  }
  ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #ff7000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }
  ul li a:hover {
    color: #95a5a6;
  }
  ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .box {
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    /*background-image: linear-gradient(to bottom, #19222f, #002544);*/
    padding: 15px;
  }
  
/* Container ----- */
.user {
    display: grid;
    grid-column: user;
    grid-template-rows: [profile] 1fr [personal] 2fr;
    gap: 15px;
}

.profile {
    display: grid;
    grid-row: profile;
}


.information-user {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
}

.information-user img {
    width: 70%;
}

.profile h3 {
    font-size: 0.8em;
    padding: 3px;
}

.itens-profile {
    border: 1px solid #C7D7E5;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 10px;
    font-size: 0.8em;
}

.profile #plus {
    height: 37px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(148.06deg, #19222F -28.9%, #002544 108.17%);
    border: 1px solid #C7D7E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  
.profile #links {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 5px 0 5px 0;
    text-align: center;
}


/* Container ----- */
.personal {
    display: grid;
    grid-row: personal;
    grid-template-rows: [main-personal] 1fr [manage-stress] 3fr [steps-manager] 3fr;
    gap: 10%;
}

.personal h2 {
    font-size: 0.8em;
}

.main-personal {
    display: grid;
    grid-row: main-personal;
}

.main-personal h2 {
    font-size: 0.6em;
}

.box-items {
    background: rgba(136,176, 206, 0.25);
    mix-blend-mode: hard-light;
    border-radius: 5px;
    border: 50px;
    align-items: center;
    justify-items: center;
    line-height: 1.5;
}

.box-items img {
    width: 80%;
    margin-top: -30px;
    margin-left: 20%;
}

.box-items h3 {
    font-size: 0.5em;
}

.text-topics {
    padding: 5px;
}

.text-topics h2 {
    padding-bottom: 5px;
}

.text-topics h3 {
    padding-bottom: 10px;
    font-size: 0.5em;
}

.box-topics {
    display: flex;
    flex-direction: row;
    padding: 5%;
    align-items: center;
}

.itens-topics {
    border: 1px solid #C7D7E5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
}

/* --- */
.manage-stress {
    display: grid;
    grid-row: manage-stress;
    grid-template-columns: 1fr 3fr;
}


/* --- */
.steps-manager {
    display: grid;
    grid-row: steps-manager;
    grid-template-columns: 1fr 3fr;
}

/* Container ----- */
.information {
    display: grid;
    grid-column: team;
    grid-template-columns: [log1] 1fr [log2] 1fr;
    grid-template-rows: [log-information] 1fr [team-key] 1fr;
    gap: 15px;
}

.log {
    display: grid;
    grid-column: log1 / span 2;
    grid-row: log-information;
    grid-template-rows: 1fr 6fr;
}

.log h2 {
    font-size: 0.7em;
}


.log #grid-log {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    border-top: 1px solid #54759C;
    border-bottom: 1px solid #54759C;
    padding-bottom: 10px;
}

.log #grid-log span {
    padding: 8px 4px;
    border-top: 1px solid #54759C;
    border-bottom: 1px solid #54759C;
    font-size: 0.8em;
}

.log #icons-log {
    align-self: center;
}

.log img {
    margin-right: 15px;
    justify-content: center;
}

.team-member {
    display: grid;
    grid-column: log1;
    grid-row: team-key;
    grid-template-rows: 1fr 5fr;
}

.team-member-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.category-team {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#blue-icon {
    width: 20px;
    height: 20px;
    background: linear-gradient(86.53deg, #72C6EF -0.02%, #004E8F 100.02%);
    margin-left: 5px;
}

.team-member-top h3 {
    font-size: 0.7em;
}

#grid-team-member {
    display: grid;
    grid-template-columns: 5fr 2fr 1fr;
    border-bottom: 1px solid #54759C;
}

#grid-team-member span {
    padding: 8px 4px;
    border-top: 1px solid #54759C;
    border-bottom: 1px solid #54759C;
    font-size: 0.8em;
}

.team-member img {
    margin-right: 15px;
    width: 6%;
}

.key-metrics {
    display: grid;
    grid-column: log2;
    grid-row: team-key;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr 2fr;
}

.key-metrics h2 {
    font-size: 0.9em;
}

.key-metrics-top {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

#energy-key {
    display: grid;
    align-items: center;
    background: #0E2C46;
    box-shadow: 0px 4px 20px rgba(14, 44, 70, 0.31);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

#active-key {
    display: grid;
    align-items: center;
    background: #0E2C46;
    box-shadow: 0px 4px 20px rgba(14, 44, 70, 0.31);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.key-metrics img {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 100%;
}

.key-metrics h2 {
    color: #2AF598;
    font-size: 1em;
}

.key-metrics h3 {
    color: #FC3A5E;
    font-size: 1em;
}

#rose-icon {
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
    border-radius: 3px;
    margin-left: 5px;
}

.key-metrics-top h3 {
    font-size: 0.7em;
}

.category-key {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
