@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}

.title {
  font-size: 1em;
  color: #769EC1;
}

/* Assign grid instructions to our parent grid container */
.App {
  display: grid;
  grid-template-columns: [sidenav] 1fr [conteudo] 14fr;
  grid-template-rows: [header-page] 100px [body] 100vh;
  gap: 15px;
  /*align-items: stretch; Alinha conforme o limite inferior de rolagem*/ 
  background-image: linear-gradient(to top, #19222f, #002544);
  padding-right: 15px;
  padding-bottom: 15px;
  /*align-items: strech;*/
  /*overflow: hidden;*/
}

/* Give every child element its grid name */
.header-page {
  display: grid;
  grid-column: conteudo;
  grid-row: header-page;
  grid-template-columns: [left-header] 1.8fr [right-header] 1fr;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background-image: linear-gradient(to bottom, #19222f, #002544);
  align-items: center;
  padding-left: 15px;
}

.header-page h1 {
  font-size: 18px;
  text-transform: capitalize;
}

.header-page h2 {
  font-size: .7em;
}

.right-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.right-header:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


/* Container ----- */
.sidenav {
  display: grid;
  grid-column: sidenav;
  grid-row: header-page / span 2;
  grid-template-rows: 1fr 8fr;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background-image: linear-gradient(to top, #19222f, #002544);
  justify-items: center;
  justify-content: space-evenly;
}


.sidenav img:first-child {
  margin-top: 35px;
  flex-direction: column;
}

.sidenav ul {
  list-style-type: none;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.sidenav li:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#Ampulheta {
  transition: all 0.8s ease-in-out 0s;
}

#Ampulheta:hover {
  -webkit-transform: rotateZ(-180deg);
  -ms-transform: rotateZ(-180deg);
  transform: rotateZ(-180deg);
}


/* Container ----- */
.body {
  display: grid;
  grid-column: conteudo;
  gap: 15px;
  grid-row: body;
  grid-template-columns: [overview] 1.2fr [meditation-column] 1fr [stress] 1fr;
  grid-template-rows: [meditation-row] 1fr [intolerance] 1fr;
  height: 100vh;
}

.body ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #ecf0f1;
  padding: 4px 0;
  transition: 0.5s;
}
ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
ul li a:hover {
  color: #95a5a6;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}



/* Container ----- */
.overview {
  display: grid;
  grid-column: overview;
  grid-row: meditation-row / span 2;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #19222f, #002544);
  padding: 5px;
}

.overview div:nth-child(2) {
  display: flex;
  justify-content: center;
}

.overview div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  
}

.overview img:first-child {
  width: 50%;
}

#Graphred {
  max-width: 100%;
}

#Graphred2 {
  max-width: 100%;
}


/* Container ----- */
.meditation {
  display: grid;
  grid-column: meditation-column;
  grid-row: meditation-row;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #19222f, #002544);
  padding: 5px;
}


.meditation h1 {
  grid-column: 1/4;
}

.itens {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Nunito', sans-serif;
  font-size: .6em;
}

.meditation div#awards {
  grid-column: 1/4;
  font-family: 'Nunito', sans-serif;
  font-size: .7em;
}

.meditation div#awards-icons {
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
}


.meditation #calm-percentage {
  grid-column: 1/4;
}

.meditation div#icons-monitoring {
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;  
  padding-right: 30px;
}

.meditation div#bar {
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  align-items: baseline;
  justify-content: center;
}

.active {
  width: 15px;
  height: 15px;
  background: linear-gradient(180deg, #2AF598 -0.11%, #08AEEA 100%);
}

.neural {
  width: 15px; /* defini 1px porque deu problema. Rever */
  height: 15px;
  background: linear-gradient(221.02deg, #FECE3D 0%, #FC3A5E 100%);
}

.calm {
  width: 15px;
  height: 15px;
  background: linear-gradient(90deg, #E4197E -0.19%, #802BFF 100.04%);
}

#awards-blue {
  width: 30px;
  height: 30px;
  background: linear-gradient(86.53deg, #72C6EF -0.02%, #004E8F 100.02%);
  border-radius: 2px;
}

#awards-rose {
  width: 30px;
  height: 30px;
  background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
  border-radius: 2px;
}

#blue-bar1 {
  height: 85px;
  width: 25px;
  background: linear-gradient(88.98deg, #72C6EF -0.02%, #004E8F 100.02%);
}

#blue-bar2 {
  height: 71px;
  width: 25px;
  background: linear-gradient(88.98deg, #72C6EF -0.02%, #004E8F 100.02%);
}

/* Container ----- */
.intolerance {
  display: grid;
  grid-column: meditation-column;
  grid-row: intolerance;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #19222f, #002544);
  padding: 15px;
}

.intolerance .title {
  grid-column: 1/4;
}

.intolerance .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: linear-gradient(180deg, #2AF598 -0.11%, #08AEEA 100%);
}

.intolerance h3 {
  font-size: 1em;
}

.intolerance h4 {
  font-size: 0.7em;
}

.intolerance .image-intolerance {
  width: 70%;
}

/* Container ----- */
.stress-weekly {
  display: grid;
  grid-column: stress;
  grid-row: meditation-row;
  grid-template-columns: [stress] 1fr;
  grid-template-rows: [alert] 1.5fr [weekly] 1fr;
  gap: 15px;
}

.stress {
  display: grid;
  grid-column: stress;
  grid-row: alert;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: url('./assets/stress/stress-photo.svg');
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 15px;
}


#schedule {
  background: radial-gradient(375% 375% at -66.67% 29.17%, #01325B 0%, #302E50 21.3%, #ED1C24 57.86%, #004B7F 100%);
  box-shadow: 5px 5px 15px rgba(16, 35, 54, 0.27);
  border-radius: 8px;
  border: none;
  width: 160px;
  height: 40px;

}

.stress h2 {
  font-size: 15px;
}

.weekly {
  display: grid;
  grid-column: stress;
  grid-row: weekly;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #19222f, #002544);
  padding: 15px;
}

.weekly .title {
  grid-column: 1/4;
}

/* Container ----- */
.sleep {
  display: grid;
  grid-column: stress;
  grid-row: intolerance;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #19222f, #002544);
  padding: 15px;
}