@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1,h2 {
  color: #fff;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  color: #fff;
}

/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: 5% 1.3fr 1fr 1fr;
  grid-template-rows: 11.57% 1fr 1fr 1fr;
  grid-gap: 30px;
  grid-template-areas:
    "sidenav header header header"
    "sidenav body-overview meditation stress"
    "sidenav body-overview meditation weekly"
    "sidenav body-overview intolerance sleep";
  height: 1600px;
  width: 100%;
  /*align-items: stretch; Alinha conforme o limite inferior de rolagem*/ 
  background-image: linear-gradient(to top, #19222f, #002544);

}

/* Give every child element its grid name */
.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background-image: linear-gradient(to bottom, #19222f, #002544);
  align-items: center;
}

.header h1 {
  font-size: 24px;
  text-transform: capitalize;
  padding-left: 15px;
}

.header h2 {
  font-size: 12px;
  padding-left: 15px;
}

.right-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

#icones-notificacao {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#photo-name {
  display: grid;
  justify-items: center;
}

.sidenav {
  display: grid;
  grid-area: sidenav;
  grid-template-rows: 10% 4% 4% 4% 4% 4%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background-image: linear-gradient(to top, #19222f, #002544);
  justify-items: center;
}

.sidenav div:nth-child(1) {
  margin-top: 25px;
} 

/* Container */
.body-overview {
  display: grid;
  grid-area: body-overview;
  grid-template-rows: 5% 1fr 5% 0.4fr 1fr;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #19222f, #002544);
  padding: 15px;
}

.body-overview div:nth-child(2) {
  display: grid;
  justify-items: center;
}

.body-overview div:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  font-size: 8px;
}

#Graphred {
  max-width: 70%;
}

#Graphred2 {
  max-width: 70%;
}

/* Container */
.meditation {
  display: grid;
  grid-area: meditation;
  grid-template-rows: 10% 10% 15% 10% 10% 1fr;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #19222f, #002544);
  padding: 15px;
}

.meditation div:nth-child(2) {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.meditation div:nth-child(3) {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  justify-content: left;
}

.meditation div:nth-child(5) {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.active {
  width: 15px;
  height: 15px;
  left: 1151px;
  top: 351px;

  /* Gradient */
  background: linear-gradient(180deg, #2AF598 -0.11%, #08AEEA 100%);
}

.neural {
  width: 15px;
  height: 15px;
  left: 1306px;
  top: 351px;
  
  /* Gradient1 */
  background: linear-gradient(221.02deg, #FECE3D 0%, #FC3A5E 100%);
}

.calm {
  width: 15px;
  height: 15px;
  left: 1467px;
  top: 351px;
  
  /* Gradient */
  background: linear-gradient(90deg, #E4197E -0.19%, #802BFF 100.04%);
}

#awards-blue {
  width: 62.71px;
  height: 62.71px;
  left: 1145px;
  top: 476px;
  
  /* Gradient */
  background: linear-gradient(86.53deg, #72C6EF -0.02%, #004E8F 100.02%);
  border-radius: 8px;
}

#awards-rose {
  width: 62.71px;
  height: 62.71px;
  left: 1233px;
  top: 476px;
  
  background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
  border-radius: 8px;
}

.meditation div:nth-child(6) {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
  overflow: hidden;
}

#blue-bar1 {
  position: relative;
  height: 85px;
  width: 25;

  /* Gradient */
  background: linear-gradient(88.98deg, #72C6EF -0.02%, #004E8F 100.02%);
  justify-items: baseline;
}

/* Continuar aqui a respeito de colocar duas imagens uma em cima da outra */

#blue-bar2 {
  position: relative;
  height: 71px;
  width: 25;
  

  /* Gradient */
  background: linear-gradient(88.98deg, #72C6EF -0.02%, #004E8F 100.02%);
}

.blue-bar-shadow {
  position: relative;
  height: 125px;
  width: 25px;
  background: rgba(74, 183, 255, 0.1);
}

/* Container */
.stress {
  grid-area: stress;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: url('./assets/stress/stress-photo.svg');
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 15px;
}



/* Container */
.weekly {
  grid-area: weekly;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #19222f, #002544);
  padding: 15px;
}

/* Container */
.intolerance {
  grid-area: intolerance;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #19222f, #002544);
  padding: 15px;
}

.sleep {
  grid-area: sleep;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #19222f, #002544);
  padding: 15px;
}